:root {
  --light-green: #7ed56f;
  --medium-green: #55c57a;
  --dark-green: #28b485;
  --gray-100: #777;
  --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--gray-100);
  padding: 1.875rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header__logo {
  height: 2.1875rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.75rem;
}

.heading-primary--main {
  display: block;
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2.1875rem;

  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1.0875rem;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6.25rem);
  }

  80% {
    transform: translateX(0.625rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6.25rem);
  }

  80% {
    transform: translateX(-0.625rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6.25rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9375rem 2.5rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #00000020;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #00000020;
}
.btn--white {
  background: var(--white);
  color: var(--gray-100);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: var(--white);
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out;
  animation-fill-mode: backwards;
}
